.card {
   :global {
      .ant-card {
         background-color: var(--card-bg-color);
         color: var(--theme-primary-color);
         border-radius: 8px;
         position: relative;
         padding: 0;
      }
      .ant-card-body {
         padding: 0;
         width: 100%;
      }

      .ant-card-head-title {
         padding: 0;
      }
   }
   .wrapper {
      padding: 24.15px 24px;

      .title {
         padding: 0;
         border-bottom: none;
         color: var(--theme-primary-color);
      }
      &--noPadding {
         padding: 0;
         .title {
            padding: 24px 24px 0px;
         }
      }
   }
}
