.icon-button {
   :global {
      .ant-btn {
         height: 32px;
         width: 32px;
         padding: 0;
         svg {
            max-height: 14px;
            transition: all 0.5s ease-in;
            fill: white;
            &:hover {
               fill: var(--button-primary-bg-color);
            }
         }
      }
   }
}
